@mixin button_style {
    background-color: $primary_color;
    border: 1px solid $primary_font_color;
    padding: 5px;
    border-radius: 6px;
    color: $primary_font_color;
}

@mixin primary_colors {
    background-color: $primary_color;
    color: $primary_font_color;
}

@mixin align_justify_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin column_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}