@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700&display=swap");
* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Montserrat", sans-serif; }
  body nav {
    background-color: #1a75bc;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px; }
    body nav h2 {
      font-size: 18px;
      margin: 0; }
  body .main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0; }
    body .main .main-container {
      width: 90%;
      display: flex; }
      body .main .main-container .text-content {
        width: 55%;
        background-color: #fdb44b;
        padding: 0 30px;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        body .main .main-container .text-content h1 {
          color: #1a75bc; }
        body .main .main-container .text-content h3 {
          color: #8b7e7e;
          font-size: 14px; }
        body .main .main-container .text-content p {
          line-height: 1.6;
          font-size: 14px; }
      body .main .main-container .main-image {
        width: 45%; }
        body .main .main-container .main-image img {
          width: 100%;
          height: 100%; }
  body .form-section {
    background-color: #fdb44b;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(images/form-section-bg.jpg);
    background-size: cover; }
    body .form-section .form-text {
      width: 50%;
      text-align: center;
      padding: 20px; }
    body .form-section form {
      width: 40%;
      background-color: rgba(72, 72, 72, 0.4);
      display: flex;
      justify-content: center;
      flex-direction: column;
      color: #FFF;
      padding: 30px 50px;
      border-radius: 7px;
      z-index: 2;
      margin-bottom: 30px; }
      body .form-section form fieldset {
        border: none;
        display: flex; }
        body .form-section form fieldset .label-car {
          font-size: 14px; }
        body .form-section form fieldset .label-opc {
          font-size: 12px; }
        body .form-section form fieldset #nombre-usuario,
        body .form-section form fieldset #telefono-usuario {
          width: 95%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 3px;
          margin-bottom: 15px;
          background-color: rgba(72, 72, 72, 0.4);
          color: #FFF; }
        body .form-section form fieldset #nombre-usuario::placeholder {
          color: #FFF; }
        body .form-section form fieldset #telefono-usuario::placeholder {
          color: #FFF; }
        body .form-section form fieldset #telefono-usuario::-webkit-outer-spin-button,
        body .form-section form fieldset #telefono-usuario::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0; }
        body .form-section form fieldset .margin-b {
          margin-bottom: 15px; }
        body .form-section form fieldset .label-opc {
          display: flex;
          align-items: center; }
          body .form-section form fieldset .label-opc #color-pelaje,
          body .form-section form fieldset .label-opc #sexo {
            width: 16px;
            height: 16px;
            cursor: pointer; }
        body .form-section form fieldset .error-nombre, body .form-section form fieldset .error-telefono {
          color: red;
          text-align: right;
          width: 95%;
          font-size: 14px; }
      body .form-section form .btn-container {
        display: flex;
        align-self: center; }
        body .form-section form .btn-container #btn-submit {
          border: none;
          background-color: rgba(72, 72, 72, 0.4);
          color: #FFF;
          padding: 10px;
          font-size: 15px;
          transition: .3s;
          border: 2px solid #f7f7f7; }
        body .form-section form .btn-container #btn-submit:hover {
          cursor: pointer;
          box-shadow: inset 0px 0px 0px 3px #f7f7f7; }
  body footer {
    background-color: #fdb44b;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 35px 0 20px 0;
    bottom: 0;
    width: 100%; }
    body footer .icons-social {
      width: 100px;
      display: flex;
      justify-content: space-around; }
      body footer .icons-social a {
        color: #000; }
    body footer .footer-text {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }

.card-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px 0; }
  .card-section .cards-container {
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap; }
    .card-section .cards-container .card {
      display: flex;
      width: 420px;
      height: 200px;
      margin-bottom: 30px;
      box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.6); }
      .card-section .cards-container .card .card-info {
        background-color: #1a75bc;
        color: #FFF;
        padding: 0 8px; }
        .card-section .cards-container .card .card-info .openModal {
          background-color: #1a75bc;
          border: 1px solid #FFF;
          padding: 5px;
          border-radius: 6px;
          color: #FFF; }
      .card-section .cards-container .card .hover-card {
        background-color: #fdb44b !important; }
      .card-section .cards-container .card .hover-image {
        transform: scale(1.3); }
      .card-section .cards-container .card .card-image {
        width: 550px;
        height: auto;
        overflow: hidden; }
        .card-section .cards-container .card .card-image .cat-image {
          width: 250px;
          height: 100%;
          transition: all 1s; }

#modal-cats {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 0; }
  #modal-cats #modal-content {
    width: 400px;
    height: 500px;
    position: fixed;
    top: 30px;
    left: 450px; }
    #modal-cats #modal-content .modal-info {
      display: flex;
      flex-direction: column;
      background-color: #fdb44b;
      padding: 15px;
      border-radius: 6px;
      box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.6); }
      #modal-cats #modal-content .modal-info .info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; }
        #modal-cats #modal-content .modal-info .info h1 {
          color: #FFF; }
        #modal-cats #modal-content .modal-info .info img {
          width: 200px;
          height: 200px; }
        #modal-cats #modal-content .modal-info .info p {
          font-size: 14px; }
      #modal-cats #modal-content .modal-info .button-container {
        width: 100%;
        display: flex;
        justify-content: flex-end; }
  #modal-cats .position {
    position: fixed;
    z-index: 3; }

#cerrarModal {
  background-color: #fdb44b;
  color: #FFF;
  border: none;
  font-size: 18px; }

.hidden {
  display: none; }
